<div class="aui-page-panel-inner">
  <div class="aui-page-panel-content">
    <header class="aui-page-header">
      <div class="aui-page-header-inner">
        <div class="aui-page-header-image">
        </div>
        <div class="aui-page-header-main">
          <h1>Info</h1>
        </div>
      </div>
    </header>
  </div>
</div>

<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-content" style="text-align: center;">

      <h2>ESMT</h2>
      <h3>elasticsearch management tool</h3>
      <br />
      <p>Github-Repo : <a href="https://github.com/heckenmann/esmt" target="_blank">https://github.com/heckenmann/esmt</a></p>
      <p>esmt Version : NN</p>
      <p>Angular Version : {{ ngVersion }}</p>
    </section>
  </div>
</div>
